<!DOCTYPE html>
<html>
<head>
<title>Portfolio</title>
<meta charset="UTF-8">
<meta name="description" content="Tinsae Getachew portfolio page">
<meta name="author" content="Tinsae Getachew">
<meta name="keywords" content="Portfolio, Programmer, Coder, full stack developer, frontend developer, backend developer">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/portfolio/header/view/img/Tinsae.svg" type="image/svg">

<link rel="stylesheet" href="/portfolio/header/view/css/bootstrap.css">

<link rel="stylesheet" href="css/front.css">

<link rel="stylesheet" href="/portfolio/header/view/css/nav_Bar.css">


<link rel="stylesheet" href="/portfolio/footer/view/css/footer.css">
<link href="/portfolio/fontawesome/css/all.css" rel="stylesheet"> 

<!-- <script src="https://kit.fontawesome.com/f121552d51.js" crossorigin="anonymous"></script> -->
<script src="/portfolio/header/controller/jquery-3.3.1.min.js" defer></script>
<script src="/portfolio/header/controller/bootstrap.min.js" defer></script>    
<script src="/portfolio/header/controller/header.js" async></script>
<script src="/portfolio/footer/controller/footer.js" async></script>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>



</head>
<body onload="header_Element('H');">
     
    <header id="nav_Bar"></header>    

    <!-- Start Banner -->
    <main>
        <div class="container-fluid">
            <div class='row front_Banner'>
                <div class="banner_Content">
                    <h1>Hi all, I'm Tinsae</h1> 
                    <p>Detail-oriented computer engineer with 4+ years of expertise working with software 
                        development, embedded systems, Networking and Maintenance. I have good experience 
                        designing, developing and implementing applications and solutions using a range of 
                        technologies and programming languages. I have also a good experience on installing, 
                        maintaining, troubleshooting and analyzing and fixing network-related problems.</p>
                        
                        
                    <div class='front_Icon'>
                        <a href="https://www.linkedin.com/in/tinsae-getachew-57722a156/"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/tinsaeg2/"><i class="fab fa-facebook"></i></a>
                        <a href="https://t.me/TINSGET"><i class="fab fa-telegram"></i></a>
                        <a href="https://github.com/tinsget2"><i class="fab fa-github"></i></a>
                    </div>
                    <a href="img/Tinsae_Getachew_CV.pdf" class="banner_Btn_1" target="blank">See My Rusume</a> 
                </div>                       
            </div>
        </div>
    </main>
    <!-- End Banner -->  
    
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 whatIDO_Title">
                    <h1>What I do</h1>
                    <p>SOFTWARE DEVELOPER WHO WANTS TO EXPLORE EVERY TECH STACK</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <img src="/portfolio/front/view/img/f5.png" alt="side picture" style="width: 100%; height: auto;">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class='whatIDo_Icon'>
                        <i class="fab fa-html5"></i>
                        <i class="fab fa-java"></i>
                        <i class="fab fa-js"></i>
                        <i class="fab fa-css3"></i>                        
                        <i class="fab fa-python"></i>
                        <i class="fab fa-git"></i>
                        <i class="fab fa-php"></i>
                        <i class="fab fa-joomla"></i>
                        <i class="fab fa-adobe"></i>
                        <i class="fab fa-github"></i>
                        
                    </div>
                    <ul class="whatIDo_List">
                        <li><i class="fas fa-hand-point-right" style="color: rgb(18, 5, 77);"></i><i style="margin-left: 15px;">Develop highly interactive Front end / User Interfaces for your web</i> </li>
                        <li><i class="fas fa-hand-point-right" style="color: rgb(18, 5, 77);"></i><i style="margin-left: 15px;">Cross platform design and development</i></li>
                        <li><i class="fas fa-hand-point-right" style="color: rgb(18, 5, 77);"></i><i style="margin-left: 15px;">Rest Api integration</i></li>
                    </ul>

                 </div>
            </div>
        </div>
    </article>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 proficiency_Title">
                    <h1>Proficiency</h1>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">                   
                    <div class="proficiency_Progress">
                        <h5>Frontend/Design</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                90%
                            </div>
                        </div>
                    </div>

                    <div class="proficiency_Progress">
                        <h5>Backend</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                80%
                            </div>
                        </div>
                    </div>
                    
                    <div class="proficiency_Progress">
                        <h5>Programming</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                70%
                            </div>
                        </div>
                    </div>

                    <div class="proficiency_Progress">
                        <h5>Photoshop</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                50%
                            </div>
                        </div>
                    </div>
                    
                      
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 proficiency_Img">
                    <img src="/portfolio/front/view/img/f2.gif" alt="side picture" style="width: 100%; height: auto;">
                </div>
            </div>
        </div>
    </article>

    <article>
        <div style="background-color: #12054d; height: auto; margin-top: 80px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 education_Top">
                        <h1><i class="fas fa-user-graduate"></i> Education</h1>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="education_In">
                            <h4><i class="fas fa-graduation-cap"></i> Adama Science and Technology University</h3>
                            <p style="font-size: 16px;">I have Graduated from Adama science and technology university in the Electrical and Computer Engineering (Computer Engineering) Field with GPA of 3.36</p>
                            <time>2012 - 2017</time>
                            <h5>Final year project</h5>
                            <p>For final year project we have Developed a school property management system to minimize energy and cost wastage of a schools.</p>

                            <h5>Semester project</h5>
                            <p>For Semester project we have developed finger print identification system to use finger print as an id. </p>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </article>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 experience_Top">
                    <h1><i class="fas fa-chalkboard-teacher"></i> Experience</h1>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 experience_In">
                    <div>
                        <h3>Black-frog</h3>
                        <img src="/portfolio/front/view/img/rr.png" alt="black forg logo" style="margin: 20px auto 0; width: 100px; height: auto; display: block;">                    
                        <h4>Software Engineer</h4>
                        <p style="text-align: center; margin: 15px 0;"><time style="color: rgb(249, 204, 253); padding: 3px 15px; background-color: rgb(18, 5, 77); border-radius: 5px;">Apr 2021 - Present</time></p>
                        <p>Full stack developer: Developing, maintaining and fixing hotel booking engine of roomroaming which is an online booking engine
                            <a href="http://roomroaming.com" style="color: rgb(7, 7, 7);">(roomroaming.com)</a></p>
                        
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 experience_In">
                    <div style="background-color: #fcfefd;">
                        <h3>Laliax I.T.C.E.S</h3>
                        <img src="/portfolio/front/view/img/s1.jpg" alt="Laliax logo" style="margin: 20px auto 0; width: 100px; height: auto; display: block;">
                        <h4>IT Engineer</h4>
                        <p style="text-align: center; margin: 15px 0;"><time style="color: rgb(249, 204, 253); padding: 3px 15px; background-color: rgb(18, 5, 77); border-radius: 5px;">Jun 2020 - Apr 2021</time></p>
                        <p>IT Engineer: Office hardware & software maintenance, troubleshooting network & software issue, developing website for laliax and developing web-app for laliax another project called yenegew zaf.</p>
                        
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 experience_In">
                    <div>
                        <h3>Fortune Engineering</h3>
                        <img src="/portfolio/front/view/img/fe.png" alt="Fortune logo" style="margin: 20px auto 0; width: 100px; height: auto; display: block;">
                        <h4>IT Engineer</h4>
                        <p style="text-align: center; margin: 15px 0;"><time style="color: rgb(249, 204, 253); padding: 3px 15px; background-color: rgb(18, 5, 77); border-radius: 5px;">Oct 2017 - Dec 2018</time></p>
                        <p>IT Engineer: Office hardware & software maintenance, troubleshooting network & software issue, developing website for Fortune and installing AV system for O.P.D.O meeting hall.</p>
                        
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 experience_In_2">
                    <div>
                        <h3>Freelance Work</h3>
                        <!-- <img src="/portfolio/front/view/img/f2.gif" alt="black forg logo" style="margin: 20px auto 0; width: 100px; height: 100px; display: block;"> -->
                        <h4>Website, Webapp Developer, It Solutions and Programming Teacher</h4>
                        <p style="text-align: center; margin: 15px 0;"><time style="color: rgb(249, 204, 253); padding: 3px 15px; background-color: rgb(18, 5, 77); border-radius: 5px;">Dec 2018 - Present</time></p>
                        <p>Web Designer, Networking and Maintenance: hardware & software maintenance, troubleshooting network & software issue, developing website, networking design & installation & Teaching Programing(At icog labs).</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projects_Top">
                    <h1><i class="fas fa-laptop-code"></i> Projects</h1>
                </div>

                <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 projects_Upper'>              
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projects_In">
                            <h3>School Managment System</h3>
                            <p>
                                Developed a school management system to maximize the school teaching and learning process by creating a transparent system for the teaching and learning process.</p>
                            
                                <div>
                                    <h4>Used Technologies</h4>        
                                    <i class="fab fa-html5"></i>
                                    <i class="fab fa-js"></i>
                                    <i class="fab fa-css3"></i> 
                                    <i class="fab fa-php"></i>
                                    <i style="font-size: 14px;">Json</i>
                                </div>
                        </div>
                    </div>
    
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projects_In">
                            <h3>Booking Engine</h3>
                            <p>
                                Developed, Maintained and Implemented a Booking engine for Roomroaming.</p>
                               
                            
                            <div>
                                <h4>Used Technologies</h4> 
                                <i class="fab fa-joomla"></i>     
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projects_Upper">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projects_In">
                            <h3>Virtual Planting Platform</h3>
                            <p>
                            Developed, Maintained and implemented a virtual planting platform and website for Laliax I.T.C.E.S p.l.c.</p>
                            
                            <div>
                                <h4>Used Technologies</h4>
                                <i class="fab fa-html5"></i>
                                <i class="fab fa-js"></i>
                                <i class="fab fa-css3"></i> 
                                <i class="fab fa-php"></i>
                                <i style="font-size: 14px;">Json</i>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projects_In">
                            <h3>Job Portal</h3>
                            <p>
                            Developed and implemented a job portal Platform for a startup company called 251jobs </p>

                            <div>
                                <h4>Used Technologies</h4>
                                <i class="fab fa-html5"></i>
                                <i class="fab fa-js"></i>
                                <i class="fab fa-css3"></i> 
                                <i class="fab fa-php"></i>
                                <i style="font-size: 14px;">Rest Api</i>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projects_Upper">              
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projects_In">
                            <h3>Networking Installation</h3>
                            <p>
                            Networking design and installation for C.E.S.R p.l.c. and different INTERNET cafes </p>
                            <div>
                                <h4 style="text-align: left; padding: 20px 0px 0px; color: rgb(29, 05, 57);">Used Technologies</h4>
                                <i style="font-size: 14px;">Windows OS</i>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projects_In">
                            <h3>Mentenance and Networking Installation</h3>
                            <p>
                                Hardware and software maintenance, networking and website design for Fortune engineering p.l.c. and I have participated in AV installation for 
                                O.P.D.O meeting hall which is fortune engineering p.l.c. project  </p>

                                <div>
                                    <h4 style="text-align: left; padding: 20px 0px 0px; color: rgb(29, 05, 57);">Used Technologies</h4>
                                    <i style="font-size: 14px;">Windows OS</i>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projects_Upper">              
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projects_In">
                            <h3>Finger Print Identification System</h3>
                            <p>
                            For Semester project we have developed finger print identification system to use finger print as an id. </p>
                            
                            <div>
                                <h4 style="text-align: left; padding: 20px 0px 0px; color: rgb(29, 05, 57);">Used Technologies</h4>
                                <i style="font-size: 14px;">Embeded System using c</i>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projects_In">
                            <h3>School Managment System</h3>
                            <p>
                            For final year project we have Developed a school property management system to minimize energy and cost wastage of a schools.  </p>
                            
                            <div>
                                <h4 style="text-align: left; padding: 20px 0px 0px; color: rgb(29, 05, 57);">Used Technologies</h4>
                                <i class="fab fa-html5"></i>
                                <i class="fab fa-js"></i>
                                <i class="fab fa-css3"></i> 
                                <i class="fab fa-php"></i>    
                                <i style="font-size: 14px;">Embeded System Using c,</i>
                                <i style="font-size: 14px;"> Serial Communication,</i>
                                <i style="font-size: 14px;"> C#</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <footer id="footer_Element1">
        <div style="background-color: rgb(18, 5, 77); margin-top: 50px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12 footer_Top">
                        <h1>Reach out to me</h1>
                        <p>DISCUSS A PROJECT OR JUST WANT TO SAY HI? MY INBOX IS OPEN FOR ALL</p>

                        <div class='footer_Icon'>
                            <a href="https://www.linkedin.com/in/tinsae-getachew-57722a156/"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/tinsaeg2/"><i class="fab fa-facebook"></i></a>
                            <a href="https://t.me/TINSGET"><i class="fab fa-telegram"></i></a>
                            <a href="https://github.com/tinsget2"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                        <img src="/portfolio/front/view/img/f3.jpg" alt="Tinsae Getachew Photo" style="width: 100%;">
                    </div>
                </div>
            </div>

        </div>
    </footer>
</body>
</html> 